@import 'variables';

header {
  @include flexElementRow();
  font-family: $oswald-font;
  height: 9vh;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  justify-content: center;
  background-color: #BFDF8E;
}

h1 {
  font-size: 3em;
}

.icon {
  width: 4%;
  height: auto;
}

form {
  width: 60%;
}

label {
  font-size: 1.3em;
}

button {
  cursor: pointer;
  color: black;
  border: solid 1px #3A432B;
  background: white;
  border-radius: 5%;
  font-size: 1em;
}
