@import 'variables';

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.backdrop-img {
  height: auto;
  width: 80%;
}

.movie-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.long-movie-title {
  @include styleMovieTitle();
  font-size: 2em;
}

.movie-container {
  @include flexElementColumn();
  @include widgetStyle();
  width: 100%;
}

.movie-title {
  @include styleMovieTitle();
  font-size: 3em;
}

.trailer-container {
  @include flexElementColumn();
  @include widgetStyle();
  justify-content: space-around;
  height: 40%;
  overflow-y: scroll;
}

.overview {
  width: 80%;
}
