@import 'variables';

.poster-img {
  border: 5px solid white;
  align-self: center;
  height: auto;
  width: 100%;
}

.poster-img:hover {
  opacity: 80%;
}

.poster:hover, .poster:focus {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  color: #8E96DF;
}

.poster {
  color: white;
  position: relative;
  text-align: center;
  font-family: $oswald-font;
  max-height: 30em;
  width: 15em;
  transition: .6s ease;
  line-height: 0.7em;
  text-decoration: none;
}

.long-title {
  font-size: 1.4em;
  line-height: 1em;
}
